@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <p>This prototype was created as part of the interview process for the Software Engineering position at Bellevue College, September 2019.</p>;
    <div class="card" style="width:200px">
        <img class="card-img-top" height="200" src="~/images/Maricel_profile.jpg" alt="Maricel Medina Picture">
        <div class="card-body">
            <h4 class="card-title">Maricel Medina-Mora</h4>
            <p class="card-text">Software Engineer / Instructional Designer</p>
            <a href="https://www.linkedin.com/in/maricelmedina/" class="btn btn-primary">LinkedIn Profile</a>
        </div>

    </div>

</div>