@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <img src="~/images/pixabay_3240766_1920.jpg" class="img-fluid" alt="Responsive image">
    <p>
        This website is the solution for the pre-interview exercise requested by
        Taija Tevia-Clark
    </p>
    <p><strong>Contact Me:</strong> <a href="mailto:maricel0422@gmail.com">maricel0422@gmail.com</a></p>
    <p>Connect with me through <a href="https://www.linkedin.com/in/maricelmedina/">LinkedIn</a></p>
</div>